<div class="row">
  <div class = "span6">
	<div class="Well">
	  <fieldset>
	  <legend>Edit a New Event</legend><br>
	</div>

	<%= render 'form' %>

	<%= link_to 'Back', events_path, class: "btn" %>
	</div>

  <div class = "span6 test3">
    <% image_tag("Concert-1.jpg") %>
    <img src="/Concert-1.jpg" alt="Icon" class="img-rounded"/>
  </div>
</div>