<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>New Event Notify</h1>
    <p>See this event in our webpage</p>
    <%=link_to "Show Event",  event_url(@evento)%>
  </body>
</html>